<orxe-header fixed left-icon="ic-flight" right-icon="right"
      logo-path="https://images.squarespace-cdn.com/content/v1/5bfc637ee17ba3575a9ca823/1581000302611-76DMMC15WX9CZFD59HBC/ke17ZwdGBToddI8pDm48kJlAzLhSrM6x7ToZ5QmhDpwUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcv1KzWnXa5uwExy9477qI1Kuh3UGvhQrwqnFk1-0NKPksHOlkSAin2SQeO-uywbjm/Screen+Shot+2020-02-06+at+9.44.31+AM.png?format=1000w"
      alt-text="cxLoylity Logo">
</orxe-header>
<app-home></app-home>
<router-outlet></router-outlet>