<!-- <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ORXe Shell</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="search/hotel" [routerLink]="['search/hotel']" routerLinkActive="active" class="nav-link">Hotel</a>

        </li>
        <li class="nav-item">
          <a href="search/flight" [routerLink]="['search//flight']" routerLinkActive="active"
            class="nav-link">Flight</a>

        </li>
        <li class="nav-item">
          <a href="search/cruise" [routerLink]="['search//cruise']" routerLinkActive="active"
            class="nav-link">Cruise</a>

        </li>
      </ul>
    </div>
  </nav>
</div> -->
<app-home></app-home>
<router-outlet></router-outlet>