:host {
  --menu-font-family: 'Proxima Nova', sans-serif;
  --menu-heading-font-color: #242C38;
  --menu-heading-font-weight: 500;
  --menu-username-font-color: #242C38;
  --menu-item-font-color: #505660;
  --menu-user-active-menu-item-font-color: #0A57A1;
  --menu-item-font-weight: 400;
  --menu-background-color: #FFFFFF;
  --menu-item-active-background-color: #F5F8FB;
  --menu-section-separator: #E1E6ED;
}

$menu-section-separator: var(--menu-section-separator);
$menu-font-family: var(--menu-font-family);
$menu-heading-font-color: var(--menu-heading-font-color);
$menu-heading-font-weight: var(--menu-heading-font-weight);
$menu-username-font-color: var(--menu-username-font-color);
$menu-item-font-color: var(--menu-item-font-color);
$menu-user-active-menu-item-font-color: var(--menu-user-active-menu-item-font-color);
$menu-items-font-weight: var(--menu-item-font-weight);
$menu-background-color: var(--menu-background-color);
$menu-item-active-background-color: var(--menu-item-active-background-color);

:host {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  font-family: $menu-font-family;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  li {
    padding: 0 16px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .menu-container{
    display: flex;
    &--is-opened {
      height:100vh;
      min-height:100vh;
    }
    &--is-closed {

    }
  }
  .grey-area{
    // opacity: 0.4;
    z-index: 99;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $menu-heading-font-color;
    animation-fill-mode: forwards;
    &--fade-in {
      animation: fade-in ease 2s;
      -webkit-animation: fade-in ease 2s;
      -moz-animation: fade-in ease 2s;
      -o-animation: fade-in ease 2s;
      -ms-animation: fade-in ease 2s;
    }
    &--fade-out {
      animation: fade-out ease 2s;
      -webkit-animation: fade-out ease 2s;
      -moz-animation: fade-out ease 2s;
      -o-animation: fade-out ease 2s;
      -ms-animation: fade-out ease 2s;
    }
  }
  .menu {
    z-index: 100;
    background-color: $menu-background-color;
    width: calc(100% - 64px);
    &--is-closed {
      transition: all 5.24s ease;
      transform: translateX(-100%);
    }
    &--is-opened {
      transition: all 5.24s ease;
      transform: translateX(0);
    }
    &--header-section {
      height: 48px;
      display: flex;
      justify-content: left;
      border-bottom: 1px solid $menu-section-separator;
      &--header {
        font-size: 1.4rem;
        color: $menu-heading-font-color;
        font-weight: $menu-heading-font-weight;
        width: 100%;
        padding: 16px;
        display: flex;
        justify-content: center;
      }
    }
    &--user-section {
      border-bottom: 1px solid $menu-section-separator;
      &--user-details {
        height: 72px;
        padding: 16px 16px 0;
        &--username {
          display: block;
          font-size: 1.8rem;
          color: $menu-username-font-color;
          font-weight: $menu-heading-font-weight;
        }
        &--reward-points {
          font-size: 1.4rem;
          color: $menu-item-font-color;
          font-weight: $menu-items-font-weight;
          display: block;
          height: 40px;
          line-height: 40px;
          cursor: pointer;
        }
      }
      &--user-menu-item {
        font-size: 1.4rem;
        color: $menu-item-font-color;
        font-weight: $menu-items-font-weight;
        &--active {
          color: $menu-user-active-menu-item-font-color;
          background-color: $menu-item-active-background-color;
        }
      }
    }
    &--navigation-section {
      font-size: 1.4rem;
      font-weight: $menu-items-font-weight;
      border-bottom: 1px solid $menu-section-separator;
      &--menu-item {
        color: $menu-item-font-color;
        &--active {
          color: $menu-user-active-menu-item-font-color;
          background-color: $menu-item-active-background-color;
        }
      }
    }
    &--sign-out-section {
      font-size: 1.4rem;
      font-weight: $menu-items-font-weight;
    }
  }
}

@keyframes fade-in{
  from{
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

@keyframes fade-out{
  from{
    opacity: 0.4;
  }
  to {
    opacity: 0;
  }
}
