<div class="tabs-container">
  <orxe-tab name="tab2" orientation="horizontal">
    <orxe-tab-item active [routerLink]="'search/flight'">
      <orxe-icon icon="ic-flight" slot="tab-item-icon" size="small"></orxe-icon>
      <span slot="tab-item-label">{{ "menu.flights" | translate }}</span>
    </orxe-tab-item>
    <orxe-tab-item [routerLink]="'search/hotel'">
      <orxe-icon icon="ic-hotel" slot="tab-item-icon" size="small"></orxe-icon>
      <span slot="tab-item-label">{{ "menu.hotels" | translate }}</span>
    </orxe-tab-item>
    <orxe-tab-item [routerLink]="'/search/car'">
      <orxe-icon icon="ic-car" slot="tab-item-icon" size="small"></orxe-icon>
      <span slot="tab-item-label">{{ "menu.cars" | translate }}</span>
    </orxe-tab-item>
    <orxe-tab-item [routerLink]="'/search/activity'">
      <orxe-icon icon="ic-activity" slot="tab-item-icon" size="small"></orxe-icon>
      <span slot="tab-item-label">{{ "menu.activities" | translate }}</span>
    </orxe-tab-item>
  </orxe-tab>
</div>
