<div class="orxe-grid">
  <div class="span-4">
      <orxe-tab name="tab2" orientation="horizontal">
          <orxe-tab-item class="logo" active [routerLink]="'search/flight'">
              <orxe-icon icon="ic-flight" slot="tab-item-icon" size="small"></orxe-icon>
              <span slot="tab-item-label">Flights</span>
          </orxe-tab-item>
          <orxe-tab-item class="logo" [routerLink]="'search/hotel'">
            <orxe-icon icon="ic-hotel" slot="tab-item-icon" size="small"></orxe-icon>
              <span slot="tab-item-label">Hotels</span>
          </orxe-tab-item>
          <orxe-tab-item class="logo" [routerLink]="'/search/car'">
            <orxe-icon icon="ic-car" slot="tab-item-icon" size="small"></orxe-icon>
              <span slot="tab-item-label">Cars</span>
          </orxe-tab-item>
      </orxe-tab>
  </div>
</div>