<app-header></app-header>
<div class="orxe-grid">
  <div class="span-4">
      <orxe-tab name="tab2" orientation="horizontal">
          <orxe-tab-item class="logo" active [routerLink]="['search/flight']">
              <img src="../../assets/icons/ic-flight/20px.svg" slot="tab-item-icon">
              <span slot="tab-item-label">Flights</span>
          </orxe-tab-item>
          <orxe-tab-item class="logo" [routerLink]="['search/hotel']">
              <img src="../../assets/icons/ic-hotel/20px.svg" slot="tab-item-icon">
              <span slot="tab-item-label">Hotels</span>
          </orxe-tab-item>
          <orxe-tab-item class="logo" [routerLink]="'/search/cars'">
              <img src="../../assets/icons/ic-car/20px.svg" slot="tab-item-icon">
              <span slot="tab-item-label">Cars</span>
          </orxe-tab-item>
          <orxe-tab-item class="logo" [routerLink]="['search/adult']">
              <img src="../../assets/icons/ic-activity/20px.svg" slot="tab-item-icon">
              <span slot="tab-item-label">Adults</span>
          </orxe-tab-item>
      </orxe-tab>
  </div>
</div>