@import '../../../assets/styles/grid/grid.scss';
@import '@bit/orxe_3.base.theme/theme/_spacing.scss';

.span-4 {
  --col-grid: span 4;
}
 
.span-2 {
  --col-grid: span 2;
}

.span-1 {
  --col-grid: span 1;
}

.span-3 {
  --col-grid: span 3;
}

.orxe-grid {
  margin: $spacing-03;
}

.logo {
  line-height: 1;
}